.header {
    text-align: center;
    margin-top: 120px;
}

.header h6 {
    margin-top: 68px;
    color: #382E36;
    font-size: 20px;
}

.header h1 {
    color: #A80E0E;
    font-size: 40px;
}
.line-1 {
    max-width: 1447px;
    margin: 0 auto;
    margin-top: 62px;
}
.list {
    display: flex;
  width: 100%;
  justify-content:space-between;
  margin-top: 58px;
     
}
.box {
    width: 444px; height: 549px;
    box-shadow: 0px 15px 15px #f2f2f2;

}
.box-content {
    margin-left: 36px;
    margin-top: 73.5px;
}
.box-content h4 {
    margin-top: 14px;
    font-size: 16px;
}
.box-content div {
    margin-top: 30px;
}
.box-content span {
    margin-left: 12px;
    font-size: 22px;
    color: #A80E0E;
}
.box-content h1 {
    font-size: 22px;
    color: #000000;
}
.box-content button {
    border-radius: 50px;
    border:none;
    width: 164px;
    height: 40px;
    background-color: #FFAA00;
    
}
.button {
    border-radius: 50px;
    border: none;
    width: 255px;
    height: 68px;
    background-color: #A80E0E;
    margin: 0 auto;
    margin-top: 106px;
    display: block;
}
body {
    font-family: 'Montserrat', sans-serif;

}
/* davitske seqtsia 5  */
.bck-image {
    background-image: url(../IMG/background\ bid.png);
    height: 853px;
    width: 1920px;
    background-position: center;
}
.date {
    display: flex;
    width: 449px;
    height: 112px;
    text-align: center;
    justify-content: space-between;
    margin-top: 27.5px;
}
.box-5 {
    color: #FFFFFF;
    padding-top: 257px;
    padding-left: 235px;
}
.box-5 h1 {
    columns: #FFFFFF;
    font-size: 60px;
}
.box-5 h4 {
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 24px;
}
.box-5 h5 {
    color: #FFFFFF;
    font-size: 22px;
    margin-top: 10.5px;
}
.foni {
    width: 85px;
    height: 85px;
    background-color: #FFAA00;
    font-size: 47px;
    line-height: 85px;
    margin-bottom: 5px;
}
/* daviwkhe 6 seqcia  */
.quote {
    font-size: 70px;
    color: #A80E0E;

}
.imo{
    width: 670px;
    height: 636px;
}
section h1 {
    font-size: 40px;
    color: #A80E0E;
    margin-top: 145px;
    text-align: center;
}
section h6 {
    font-size: 20px;
    color: #382E36;
    margin-top: 62px;
    text-align: center;
}
.boxbox {
    width: 734px;
    padding-top: 96px;
    
}
.flex {
display: flex;
justify-content: space-between;
margin-top: 126px;
}
.section-0 {
    width: 1450px;
    margin: 0 auto;
}
.boxbox p {
    padding-top: 55px;
    line-height: 40px;
    font-size: 20px;
    color: #000000;
}